#map, #panel{
    margin-left: auto;
  margin-right: auto;
}

h5{
    position: absolute;
}

#divSelect{
    margin-left: 20px;  
}

#ver-btn{
    font-size: 12px;
}

body{
   background-color: lightgreen;
}

h1{
    padding-top: 30px;
    color: green;
    margin-left: 110px;
}

.container{
margin-left: auto;
margin-right: auto;
text-align: center;
}

@media (max-width: 480px){
    h1{
        margin-left: 0%;
    }
}

  
  